<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- IFZID Column -->
    <ng-container matColumnDef="IFZID">
      <th mat-header-cell *matHeaderCellDef> IFZID </th>
      <td mat-cell *matCellDef="let element"> {{element.IFZID}} </td>
    </ng-container>

    <!-- ACTIVITY_DATE Column -->
    <ng-container matColumnDef="ACTIVITY_DATE">
      <th mat-header-cell *matHeaderCellDef> Activity Date </th>
      <td mat-cell *matCellDef="let element"> {{element.ACTIVITY_DATE | date}} </td>
    </ng-container>

    <!-- DATA_ORIGIN Column -->
    <ng-container matColumnDef="DATA_ORIGIN">
      <th mat-header-cell *matHeaderCellDef> Data Origin </th>
      <td mat-cell *matCellDef="let element"> {{element.DATA_ORIGIN}} </td>
    </ng-container>

    <!-- USER_ID Column -->
    <ng-container matColumnDef="USER_ID">
      <th mat-header-cell *matHeaderCellDef> User ID </th>
      <td mat-cell *matCellDef="let element"> {{element.USER_ID}} </td>
    </ng-container>

    <!-- REQUEST_DATA Column
    <ng-container matColumnDef="REQUEST_DATA">
      <th mat-header-cell *matHeaderCellDef> Request Data </th>
      <td mat-cell *matCellDef="let element"> {{element.REQUEST_DATA}} </td>
    </ng-container>-->

    <!-- RESPONSE_DATA Column
    <ng-container matColumnDef="RESPONSE_DATA">
      <th mat-header-cell *matHeaderCellDef> Response Data </th>
      <td mat-cell *matCellDef="let element"> {{element.RESPONSE_DATA}} </td>
    </ng-container> -->

    <!-- REQUEST_TIMESTAMP Column
    <ng-container matColumnDef="REQUEST_TIMESTAMP">
      <th mat-header-cell *matHeaderCellDef> Request Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.REQUEST_TIMESTAMP | date}} </td>
    </ng-container>-->

    <!-- RESPONSE_TIMESTAMP Column
    <ng-container matColumnDef="RESPONSE_TIMESTAMP">
      <th mat-header-cell *matHeaderCellDef> Response Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.RESPONSE_TIMESTAMP | date}} </td>
    </ng-container>-->

    <!-- RESPONSE_MESSAGE Column -->
    <ng-container matColumnDef="RESPONSE_MESSAGE">
      <th mat-header-cell *matHeaderCellDef> Response Message </th>
      <td mat-cell *matCellDef="let element"> {{element.RESPONSE_MESSAGE}} </td>
    </ng-container>

    <!-- PROC_IND Column -->
    <ng-container matColumnDef="PROC_IND">
      <th mat-header-cell *matHeaderCellDef> Proc Indicator </th>
      <td mat-cell *matCellDef="let element"> {{element.PROC_IND}} </td>
    </ng-container>

    <!-- SETDATA_TIMESTAMP Column -->
    <ng-container matColumnDef="SETDATA_TIMESTAMP">
      <th mat-header-cell *matHeaderCellDef> Set Data Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.SETDATA_TIMESTAMP | date}} </td>
    </ng-container>

    <!-- GETDATA_TIMESTAMP Column -->
    <ng-container matColumnDef="GETDATA_TIMESTAMP">
      <th mat-header-cell *matHeaderCellDef> Get Data Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.GETDATA_TIMESTAMP | date}} </td>
    </ng-container>

    <!-- PRCID Column -->
    <ng-container matColumnDef="PRCID">
      <th mat-header-cell *matHeaderCellDef> PRCID </th>
      <td mat-cell *matCellDef="let element"> {{element.PRCID}} </td>
    </ng-container>

    <ng-container matColumnDef="ACTIONS">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="openDialog(element)"> View details   </button>
      </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<button
    mat-button
    color="warn"
    (click)="goBack()"
    >Regresar</button>
